@model PL.WebApplication.Models.BankAccount

<div class="panel panel-info">
    <div class="panel-heading">
        Account info
    </div>
    <div class="panel-body">
        IBAN: @Html.DisplayFor(Model => Model.IBAN)<br />
        Owner: @Html.DisplayFor(Model => Model.Owner)<br />
        Balance: @Html.DisplayFor(Model => Model.Balance)<br />
        Bonus points: @Html.DisplayFor(Model => Model.BonusPoints)<br />
    </div>
</div>