@model BLL.Interface.BankAccount
@{
    ViewBag.Title = "DepositTo";
}

<h2>Deposit to account</h2>

@Html.Partial("AccountInfo", Model)

@using (Html.BeginForm("MakeDeposit", "Deposit"))
{
    <h2>Make a deposit</h2><br />
    <label>Deposit amount:</label> 
    <input name="amount"/>
    <input type="submit" value="Deposit" />
    <input type="hidden" name="iban" value="@Model.IBAN"/>
}