@model BLL.Interface.BankAccount
@{
    ViewBag.Title = "Created";
}

<h2>New account is created</h2>

@Html.Partial("AccountInfo", Model)
<h5>@Html.ActionLink("view account list", "ViewAccountList", "Home")</h5>
<h5>@Html.ActionLink("back to service", "Index", "Home")</h5>