@model PL.WebApplication.Models.BankAccount
@{
    ViewBag.Title = "Index";
}

<h2>Create new account</h2>

@using (Html.BeginForm())
{
    @:<label>Owner:</label> @Html.EditorFor(Model => Model.Owner) <br />
    @:<label>Start balance:</label>  @Html.EditorFor(Model => Model.Balance) <br />
    <input type="submit" value="Create" />
}