@model PL.WebApplication.Models.BankAccount
@{
    ViewBag.Title = "Closed";
}

<h2>The account is closed</h2>

@Html.Partial("AccountInfo", Model)
@Html.ActionLink("view list of accounts", "ViewAccountList")
<br /> @Html.ActionLink("back to service", "index")