@model PL.WebApplication.Models.BankAccount
@{
    ViewBag.Title = "Closed";
}

@*<h2 class="alert alert-success">The account is closed</h2>

@Html.Partial("AccountInfo", Model)
@Html.ActionLink("view list of accounts", "AccountList", "home", null, new { @class = "btn btn-default" })
<br /> 
<br />
@Html.ActionLink("back to service", "index", "home", null, new { @class = "btn btn-default" })*@

@{ 
    ViewBag.Message = "The account is closed";
    ViewBag.LinkText = "view list of accounts";
    ViewBag.Action = "AccountList";
}
@Html.Partial("Done", Model)