@model PL.WebApplication.Models.BankAccount
@{
    ViewBag.Title = "DepositTo";
}

<h2 class="page-header">Deposit to account</h2>

@Html.Partial("AccountInfo", Model)

@using (Html.BeginForm("MakeDeposit", "Home", Model, FormMethod.Post, new { @class = "form-inline" }))
{
    <h2>Make a deposit</h2>
    <div class="form-group">
        <label for="amount">Deposit amount:</label>
        <input name="amount" id="amount" class="form-control" type="number" />
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Deposit</button>
    </div>
    {
        ViewBag.Message = "Deposit to this account?";
    }
    @Html.Partial("Modal", Model)
}