@model PL.WebApplication.Models.BankAccount
@{
    ViewBag.Title = "WithdrawFrom";
}


<h2 class="page-header">Withdraw from account</h2>
@Html.Partial("AccountInfo", Model)
@using (Html.BeginForm("MakeWithdrawal", "home", Model, FormMethod.Post, new { @class = "form-inline" }))
{
    @*<h2>Make a withdrawal</h2>*@
    <div class="form-group">
        <label for="amount">Withdrawal amount:</label>
        <input name="amount" class="form-control" id="amount" type="number" />
    </div>
        <button type="submit" class="btn btn-default">Withdraw</button>
        @*<input type="hidden" name="iban" value="@Model.IBAN" />*@
}

