@model PL.WebApplication.Models.BankAccount
@{
    ViewBag.Title = "WithdrawalMade";
}

<h2>Withdrawal of @ViewBag.Amount.ToString("C") is made</h2>

@Html.Partial("AccountInfo", Model)
@Html.ActionLink("back to account list", "Withdraw", "Home")
<br />
@Html.ActionLink("back to service", "Index", "Home")
