@model PL.WebApplication.Models.BankAccount

<div class="alert alert-success " role="alert">
   <strong class="alert-heading h4">@ViewBag.Message</strong> 
</div>
@Html.Partial("_AccountInfo", Model)

<p>@Html.Partial("_BackLink")</p> 
<p>@Html.Partial("_HomeLink")</p> 