@model PL.WebApplication.Models.BankAccount

<div class="alert alert-success" role="alert">
    <h4>@ViewBag.Message</h4> 
</div>
@Html.Partial("_AccountInfo", Model)

@Html.Partial("_BackLink")
<br />
<br />
@Html.Partial("_HomeLink")