@model PL.WebApplication.Models.BankAccount

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header ">
                <h4 class="modal-title text-primary">@ViewBag.ModalTitle</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                @Html.Partial("_AccountInfo", Model)
            </div>

            <div class="modal-footer" style="text-align:center">
                <button type="submit" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
