@model PL.WebApplication.Models.NewAccount

<div class="card border-info ">
    <h5 class="card-header text-info">New account</h5>
    <div class="card-body text-info">
        <div class="card-text">
            @Html.LabelFor(m => m.Type, new { @class = "font-weight-bold" }):
            <label id="typeVal"></label>
            <br />
            @Html.LabelFor(m => m.StartBalance, new { @class = "font-weight-bold" }):
            <label id="balanceVal"></label>
        </div>
    </div>
</div>