@model PL.WebApplication.Models.NewAccount

<div class="modal" tabindex="-1" role="dialog" id="createModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Create a new account?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card border-info ">
                    <h5 class="card-header text-info">New account</h5>
                    <div class="card-body text-info">
                        <div class="card-text">
                            <p>
                                @Html.LabelFor(m => m.Type, new { @class = "font-weight-bold" }):
                                <label id="typeVal"></label>
                            </p>
                            <p>
                                @Html.LabelFor(m => m.StartBalance, new { @class = "font-weight-bold" }):
                                <label id="balanceVal"></label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary w-25">Yes</button>
                <button type="button" class="btn btn-secondary w-25" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

