@model string

@using (Html.BeginForm("MakeTransfer", "service"))
{
    <div class="form-group row">
        <label class="form-text" for="owner">Account owner:</label>
        <input class="form-control mx-2" type="text" value="@Model" readonly id="owner">
    </div>
    <div class="form-group row">
        <label for="amount" class="form-text">Transfer amount:</label>
        <input type="number" id="amount" name="amount" class="form-control mx-2" required min="1" max="1000000" />
        <button type="submit" class="btn btn-primary">Transfer</button>
    </div>
    @Html.Hidden("fromIBAN", (string)ViewBag.fromIBAN)
    @Html.Hidden("toIBAN", (string)ViewBag.toIBAN)
}